[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "Pymacs"]
	path = Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
[submodule "phpplus-mode"]
	path = phpplus-mode
	url = https://github.com/echosa/phpplus-mode.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = git@github.com:haskell/haskell-mode.git
