[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "Pymacs"]
	path = Pymacs
	url = https://github.com/pinard/Pymacs.git
